.notes {
  padding: 20px;
}

.note {
  border-radius: 8px !important;
  min-height: 150px;
}

.noteTitle {
  letter-spacing: 0.00625em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.noteDesc {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.note :global(.ant-card-body) {
  padding: 12px !important;
}

/* Card action icons */

.pinIcon {
  /* padding: 30px; */
  width: 1.5rem !important;
  height: 1.5rem !important;
  position: absolute;
  right: 25px;
  top: 10px;
  opacity: 0;
  transition: all 0.5s linear;
  color: #969696;
}

.pinIcon:hover {
  /* color: #aaa9a9; */
  background: rgb(211, 210, 210);
}

.note:hover .controls,
.note:hover .pinIcon,
.note:hover .checkIcon {
  transition: all 0.3s linear;
  opacity: 1;
  border-radius: 50%;
}

/* Pin icon */

.checkIcon {
  padding: 10px;
  width: 1rem !important;
  height: 1rem !important;
  position: absolute;
  left: -20px;
  top: -20px;
  opacity: 0;
}

:global(.ant-popover-inner-content) {
  padding: 0px !important;
}

.notes :global(.react-grid-item.react-grid-placeholder) {
  background: #fff;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  /* opacity: 0; */
  transition: all 0.3s linear;
  margin-left: 15px;
}

.controls :global(.ant-space-item) {
  margin-right: 10%;
}
