.notes {
  padding: 20px;
}

.note {
  border-radius: 8px !important;
  min-height: 150px;
}

.note :global(.ant-card-body) {
  padding: 15 px !important;
}

.note :global(.anticon-pushpin) {
  opacity: 0;
  padding: 5px;
}

.note :global(.anticon-pushpin:hover) {
  border-radius: 50% !important;
  background: #eee;
}

.note:hover .controls,
.note:hover :global(.anticon-pushpin) {
  transition: all 0.3s linear;
  opacity: 1;
}

:global(.ant-popover-inner-content) {
  padding: 0px !important;
}

.notes :global(.react-grid-item.react-grid-placeholder) {
  background: #fff;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  /* opacity: 0; */
  transition: all 0.3s linear;
  margin-left: 15px;
}

.controls :global(.ant-space-item) {
  margin-right: 10%;
}
